<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>

<table border='1'> 
  <thead>
    <tr>
      <th>錦織</th><th>圭</th><th>表示</th><th>編集</th>
    </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.name %></td>
      <td><%= test.note %></td>
      <td><%= link_to 'show', test %></td>
      <td><%= link_to 'edit', edit_test_path(test) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div style="margin-top: 10px;">
<%= button_to "新規データ作成" , new_test_path, method: :get %>
</div>
<%= link_to 'New Test', new_test_path %>


